/*asterisk wildcard selector to over ride default styles*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header {
    background-color: #053b50;
}
main {
    background-color: #176B87;
}
footer {
    background-color: #64ccc5;
}
