@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&family=Shantell+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/*asterisk wildcard selector to over ride default styles*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*General styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*Projects styles*/
    color: #eeeeee;
    font-family: 'Shantell Sans', sans-serif;
}
header {
    background-color: #053b50;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 4px 4px #64ccc5;
    display: flex;
    justify-content: space-between;
    align-items:baseline;


}
header a {
    text-decoration: none;
    color: inherit;
}
h1 {
    font-family: 'Shantell Sans', sans-serif;
    text-transform: capitalize;
    letter-spacing: 4px;
    color:#ffffff;


      
}

#menu{
    font-size:100%;
    letter-spacing: normal;
    list-style-type: none;

}

#menu > li {
    margin-bottom: 1em;
}

.active {
    border-color: #f7f9f9;
    border-bottom: 4px solid #eeeeee;
}
/*Navbar style with dropdown toggle*/
nav{
    position: absolute;
    background-color: #053b50;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #eeeeee;
    display: none;
    top:100%;

}
/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

main {
    background-color: #176B87;
    /*push footer down flex*/
    flex: 1 0 auto;
    margin-top: 100px;
}
footer {
    background-color: #64ccc5;
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /* Main content */
    main {
        /* Push main content down to accommodate larger header */
        margin-top: 79px;
    }
}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
    #menu a:hover{
        border-color: #f7f9f9;
        border-bottom: 4px solid #eeeeee;
    }
}